/* TEMA */
/*
.md-button.md-retenciones-theme.md-accent{
  color:#9E9C9C;
}
.md-button.md-retenciones-theme.md-active {
  color:#FF5722;
}
md-nav-ink-bar{
  background-color: #FF5722;
  border-bottom: 1px solid #FF5722;
}
md-nav-item {
  background-color: red;
}
.md-nav-bar{
  border-bottom: 1px solid #E2E1E1;
}
*/
/*Input Disabled*/
md-input-container.md-retenciones-theme .md-input[disabled], [disabled] md-input-container.md-retenciones-theme .md-input{
  background-image:none;
  border-bottom: none;
  color:black;
}

/*FIN TEMA */

.thumb {
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}

/*AUTOCOMPLETE */
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
 .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocomplete-custom-template span.highlight  {
  font-weight: bold;
  color: #0000cc; }

/* END AUTOCOMPLETE */

/* PROGRESS BAR */
.progreso{
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px;
  /*
  background-color:  white;
  width: 100%;
  height:100%;
  opacity: 0,5;
  filter:alpha(opacity=50);

  */
}
/* END PROGRESS BAR */

/* LISTAS */
  .nav-active {
    background-color: royalBlue;
    color:white !important;
  }
  .txt-lista-blanco h3, .txt-lista-blanco h4, .txt-lista-blanco p {
    color: white !important;
  }
/* FIN LISTAS */

/* UI-GRID */

.ui-grid-header-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ui-grid-cell-contents {
  height: 40px;
  line-height: 40px;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: royalBlue;
  color:white;
}

.ui-grid-row:hover .ui-grid-cell {
  background-color: darkgray;
  cursor: pointer;
}

.ui-grid-top-panel-background {
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, white));
  background: -ms-linear-gradient(bottom, white, white);
  background: -moz-linear-gradient(center bottom, white 0%, white 100%);
  background: -o-linear-gradient(white, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white', GradientType=0);
}

.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, white));
  background: -ms-linear-gradient(bottom, white, white);
  background: -moz-linear-gradient(center bottom, white 0%, white 100%);
  background: -o-linear-gradient(white, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white', GradientType=0);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-grid-header-cell {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  border-right: 0px solid;
  border-color: #d4d4d4;
  display: table-cell;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
}
.ui-grid-header-cell:last-child {
  border-right: 0;
}

.ui-grid-cell {
  overflow: hidden;
  float: left;
  background-color: inherit;
  border-right: 0px solid;
  border-color: #d4d4d4;
  box-sizing: border-box;
}

.ui-grid-icon-up-dir{
    display:none;
}

.grid {
    /*
    width: 500px;
    height: 400px;
    */
    height: auto;
}

.cell-align-right {
  text-align: right;
}

.align-right {
  text-align: right;
}

.row-null {
    background-color: #1fe0f0;
    color: red;
}

/* FIN UI-GRID */


/* REPORTES */
.report-footer {
    width: 100%;
    position: fixed;
    bottom: 150px;
}
.report-pagenum:before {
    content: counter(page);
}

.report-title  {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
  /*
  */
  text-align:center;
}

.mi-tabla  {
    border-collapse: collapse;
    width: 100%;
}
/*
*/
.report-table table, th, td {
    border: 0.5px solid dimgray;
  height: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
}

.codpres tr td{
    /*border: 0.5px solid dimgray;*/
  height: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 8px;

}
 
/* FIN REPORTES */

/* TRANSICIONES PAGINAS*/
.ng-enter{
  transition: .5s;
  opacity: 0;
}

.ng-enter-active{
  opacity: 1;
}
/* FIN TRANSICIONES PAGINAS*/

/*INPUT DESHABILITADO*/
md-input-container .md-input[disabled], [disabled] md-input-container .md-input{
  background-image:none;
  border-bottom: none;
  color:black;
}
/*FIN INPUT DESHABILITADO*/
