<md-dialog aria-label="login" class="_md-transition-in">
	<form name="formLogin" novalidate>
		<div layout="row" layout-padding layout-margin layout-align="center center">
			<img src="front/assets/img/logo2.png"  alt="" width="150px;"/>
		</div>

	    <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="column">
			<div layout="row" layout-align="center">
				<md-input-container>
				   <input ng-model="ctrl.user.logname" type="text" placeholder="Usuario" validation-field-required="true" md-autofocus>
				</md-input-container>
			</div>

			<div layout="row" layout-align="center">
				<md-input-container>
				   <input ng-model="ctrl.user.password" type="password" placeholder="Contraseña" validation-field-required="true">
				</md-input-container>
			</div>

			<div layout="row" layout-align="center" >
				<span style="color:red;">{{ctrl.error}}</span>
			</div>
	    </md-dialog-content>

	    <md-dialog-actions layout="column" layout-align="center" class="md-padding">
			<md-button type="button" class="md-raised md-primary" ng-click="ctrl.logIn(ctrl.user)">Iniciar Sesión</md-button> 
			<!--
			<div layout="row" layout-padding layout-margin layout-align="center center">
				<i>¿No tienes una cuenta?</i> 	<md-button ui-sref="signup" style="color:royalblue">crear cuenta</md-button>
			</div>
			-->
	    </md-dialog-actions>
	</form>		
</md-dialog>