<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Cliente</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="row">
	    	
        <div layout="column" flex="100">

          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex="70" flex-xs="100">
              <label>Nombre</label>
              <input type="text" ng-model="ctrl.one.nombre" required >
            </md-input-container>

            <md-input-container class="md-block" flex="30" flex-xs="100">
              <label>RIF</label>
              <input type="text" ng-model="ctrl.one.rif" required >
            </md-input-container>
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex="70" flex-xs="100">
              <label>Dirección</label>
              <input type="text" ng-model="ctrl.one.direccion"  >
            </md-input-container>

            <md-input-container class="md-block" flex="30" flex-xs="100">
              <label>Teléfono</label>
              <input type="text" ng-model="ctrl.one.telefono" >
            </md-input-container>          
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex="50" flex-xs="100">
              <label>Email</label>
              <input type="text" ng-model="ctrl.one.email"  >
            </md-input-container>

            <md-input-container class="md-block" flex="50" flex-xs="100">
              <label>Representante</label>
              <input type="text" ng-model="ctrl.one.representante"  >
            </md-input-container>
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex="50" flex-xs="100">
              <label>Límite de Crédito</label>
              <input formato-numerico type="text" ng-model="ctrl.one.limite_credito" >
            </md-input-container>

            <md-input-container class="md-block" flex="50" flex-xs="100">
              <label>Diás Crédito</label>
              <input type="text" ng-model="ctrl.one.dias_credito" >
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="100" >
              <label>Observación</label>
              <input type="text" ng-model="ctrl.one.observacion" >
            </md-input-container>
          </div>

        </div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>