<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Listas</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="row">
	    	
        <div layout="column" flex="100">
          <md-input-container class="md-block">
            <label>CAMPO</label>
              <md-select ng-model="ctrl.one.campo">
                <md-option ng-repeat="elemento in ctrl.listaCampos" value="{{elemento.campo}}" >
                    {{elemento.campo}}
                </md-option>
              </md-select>
          </md-input-container>


          <md-input-container class="md-block" >
            <label>Nombre</label>
            <input type="text" ng-model="ctrl.one.nombre" required >
          </md-input-container>



          <md-input-container class="md-block">
            <label>PADRE</label>
              <md-select ng-model="ctrl.one.id_padre">
                <md-option value="0" >PRINCIPAL</md-option>
                <md-option ng-repeat="elemento in ctrl.listaPadres" value="{{elemento.id}}" >
                    {{elemento.campo}} , {{elemento.nombre}}
                </md-option>
              </md-select>
          </md-input-container>          
        </div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>