<md-content class="md-padding" ng-cloak layout="column" >
	<div flex layout="row">
		<!--
		<md-button ng-click="ctrl.cambiarEmpresa()" >
			<div layout ="row" layout-align="start center" >
				<span><b>{{ctrl.empresa.nombre}}</b></span>
				</br>
				{{ctrl.empresa.rif}}
			</div>
		</md-button>
		-->


		<md-menu md-position-mode="target-right target">
	       	<md-button ng-click="ctrl.openEmpresas($mdMenu,$event)">
	       		<md-tooltip md-autohide>Selección de Empresa</md-tooltip>
				<span><b>{{ctrl.empresa.nombre}}</b></span>
	       	</md-button>
	       
	       	<md-menu-content width="4">
		       	<md-menu-item ng-repeat="item in ctrl.listaEmpresas ">
		       		<md-button ng-click="ctrl.cambiarEmpresa(item.id)">
				       	{{item.nombre}}			       			
		       		</md-button>
		       	</md-menu-item>
	       	</md-menu-content>
	   	</md-menu>
	</div>
	<div flex layout="row" layout-padding layout-margin layout-align="center center">
		<img src="front/assets/img/logowatermark.png"  alt="" width="400px;"/>
	</div>
<!--
	<div layout="column" flex="50">
		<md-list >
			<md-subheader class="md-no-sticky">Lista</md-subheader>
	        <md-list-item class="md-2-line" ng-repeat="item in ctrl.lista" ng-click="ctrl.selectOne(item)">
	          <div class="md-list-item-text">
	            <h3>{{ item.nombre }}</h3>
	            <p>{{item.campo}}</p>
	          </div>
	        </md-list-item>
	      </md-list>
	</div>

	<div flex="5" hide-xs hide-sm>
    </div>

	<div layout="column" flex="45">
		<div layout="column">
			<md-input-container class="md-block" flex="100">
			   <input ng-model="ctrl.one.nombre" type="text" placeholder="Nombre">
			</md-input-container>		
			<md-input-container class="md-block" flex="100">
			   <input ng-model="ctrl.one.campo" type="text" placeholder="Campo">
			</md-input-container>

			<div layout="row">
				<md-button type="button" class="md-raised" ng-click="ctrl.getNew()">Nuevo</md-button>
				<md-button type="button" class="md-raised" ng-click="ctrl.getOne()">SELECCIONAR</md-button>
				<md-button type="button" class="md-raised" ng-click="ctrl.guardar()">Guardar</md-button>
				<md-button type="button" class="md-raised" ng-click="ctrl.eliminar()">Eliminar</md-button>
			</div>
		</div>
	</div>
-->
</md-content>
