<style type="text/css">
	.grid {
    height: 300px;
}
</style>
<md-dialog aria-label="Selección de producto" class="_md-transition-in" flex="60" flex-sm="80" flex-xs="100" >
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Selección de Producto</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content">
		    <div layout="row" layout-xs="column">
		    	<div flex>
		            <md-autocomplete flex md-autofocus   
		              md-selected-item="ctrl.selectedProducto" 
		              md-search-text="ctrl.searchText"
		              md-selected-item-change="ctrl.selProducto(producto)" 
		              md-items="producto in ctrl.querySearch(ctrl.searchText)"
		              md-item-text="producto.nombre" 
		              md-min-length="1" 
		              md-floating-label="Producto"
		              md-menu-class="autocomplete-custom-template">
		              
		              <md-item-template>
		                  <span class="item-title">
		                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{producto.nombre}} </span>
		                  </span>

		                  <span class="item-metadata">
				            <span>
				              <strong>( {{producto.total_existencia|currency:""}})</strong>
				            </span>
				            <span>
				              <strong>{{producto.unidad_venta_nombre}}</strong> 
				            </span>
				          </span>

		                  <span class="item-metadata">
		                    <span class="item-metastat" >
		                      {{producto.dolar_precio_inicial | currency:""}}
		                    </span>
		                  </span>

		              </md-item-template>

		              <md-not-found>
		                <span>No se encontraron resultados</span>
		              </md-not-found>
		            </md-autocomplete>  
		      	</div>

				<!-- UND VENTA -->		
		      	<md-input-container flex="15" flex-xs="100">
		        	<label>Unidad</label>
		          	<md-select ng-model="ctrl.id_unidad" flex-xs="100" ng-change="ctrl.selUnidad()">
			            <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
			                {{elemento.nombre}}
			            </md-option>
		          </md-select>
		      	</md-input-container>

		    	<md-input-container flex="15" flex-xs="100">
		    		<label>Cantidad</label>
				    <input formato-numerico type="text" ng-model="ctrl.cantidad">
		    	</md-input-container>	    	

		    	<md-input-container flex="15" flex-xs="100">
		    		<label>Precio</label>
				    <input formato-numerico type="text" ng-model="ctrl.precio" >
		    	</md-input-container>	    			    	
				
			</div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">

			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!ctrl.selectedProducto">Seleccionar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>
