<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	<div layout="row" layout-xs="column">
	  	<md-input-container class="md-block" flex-xs="100">
			<label>Fecha</label>									
			<md-datepicker ng-model="ctrl.one.fecha" ></md-datepicker>
		</md-input-container>

	  	<!-- TIPO -->		
		<md-input-container flex-xs="100" ng-hide="true">
			<label>Tipo</label>
			<md-select ng-model="ctrl.one.id_tipo" disabled="true">
		    <md-option ng-repeat="elemento in ctrl.listaOperaciones" value="{{elemento.id}}" >
		        {{elemento.nombre}}
		    </md-option>
			</md-select>
		</md-input-container>

	  	<!-- CLIENTE -->		
		<div layout="row" flex>
           	<md-autocomplete flex required
              	md-input-name="clienteField" 
                md-selected-item="ctrl.selectedCliente" 
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selCliente(cliente)" 
                md-items="cliente in ctrl.querySearch(ctrl.searchText)"
                md-item-text="cliente.nombre" 
                md-min-length="1" 
                md-floating-label="Cliente"
                md-menu-class="autocomplete-custom-template" md-autofocus>
                
                <md-item-template>
                    <span class="item-title">
                      <span md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{cliente.nombre}} </span>
                    </span>

                    <span class="item-metadata">
                      <span class="item-metastat" >
                        <strong md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{cliente.rif}}</strong>
                      </span>
                    </span>
                </md-item-template>

                <md-not-found>
                  <div ng-click="ctrl.modalCliente($event,0)" >
                    <span class ="fa fa-plus fx-fw"></span>Agregar nuevo
                  </div>
                </md-not-found>
                <div ng-messages="formDetalle.clienteField.$error" ng-if="formDetalle.clienteField.$touched">
		        	<div ng-message="required"><b>Debes</b> seleccionar un cliente.</div>
		        	<div ng-message="md-require-match">Por favor selecciona un cliente existente</div>
		      	</div>
           	</md-autocomplete>  
           	
           	<div>
	        	<md-button class="md-fab md-mini md-primary" aria-label="Editar" ng-click="ctrl.modalCliente($event,ctrl.selectedCliente.id)" ng-show="ctrl.selectedCliente" >
		          <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
		            Editar Cliente
		          </md-tooltip>
		          <span class ="fa fa-edit fx-fw"></span>
		        </md-button>
	        </div>
       	</div>

	  	<md-input-container class="md-block" flex>
	    	<label>Observación</label>
	    	<input type="text" ng-model="ctrl.one.observacion" >
	  	</md-input-container>	

  	   	<md-input-container class="md-block" ng-show="ctrl.tipoOperacion.es_transporte=='0' && ctrl.tipoOperacion.signo_caja!='-'">
        	<label>Vendedor</label>
          	<md-select ng-model="ctrl.one.id_vendedor">
            	<md-option ng-repeat="vendedor in ctrl.listaEmpleados | filter: { tipo_nombre: 'Vendedor'}" value="{{vendedor.id}}" >
                	{{vendedor.nombre}} 
            	</md-option>
          	</md-select>
      	</md-input-container>          		

      	<md-input-container class="md-block" flex-xs="100">
	    	<label>% Descuento</label>
	    	<input formato-numerico type="text" ng-model="ctrl.one.pct_descuento" ng-change="ctrl.calcularTotales()">
	  	</md-input-container>

      	<md-input-container class="md-block" flex-xs="100">
	    	<label>% Flete</label>
	    	<input formato-numerico type="text" ng-model="ctrl.pct_flete" ng-change="ctrl.calcularFlete()"" ng-show="ctrl.es_flete">
	  	</md-input-container>	  	

	</div>

	<!-- DOCUMENTO AFECTADO -->
	<div layout="row" layout-xs="column" >

		<div layout="row" flex ng-show="ctrl.tipoOperacion.es_derivado!='0'">
		  	<md-input-container class="md-block" flex-xs="100">
		    	<label>Documento Afectado</label>
		    	<input type="text" ng-model="ctrl.doc_origen.tipo_operacion_nombre" disabled="true" >
		  	</md-input-container>

			<md-input-container class="md-block" flex-xs="100">
		    	<label>Nro Control</label>
		    	<input type="text" ng-model="ctrl.doc_origen.nro_control" disabled="true" >
		  	</md-input-container>

			<md-input-container class="md-block" flex-xs="100">
		    	<label>Fecha</label>
		    	<input type="text" ng-model="ctrl.doc_origen.fecha " disabled="true" >
		  	</md-input-container>
		 </div>

	  	<div layout="row" flex ng-show="ctrl.tipoOperacion.es_transporte!='0'">
           	<md-input-container class="md-block">
            	<label>Vehículo</label>
              	<md-select ng-model="ctrl.one.id_vehiculo">
                	<md-option ng-repeat="vehiculo in ctrl.listaVehiculos" value="{{vehiculo.id}}" >
                    	{{vehiculo.vehiculo}} ({{vehiculo.placa}})
                	</md-option>
              	</md-select>
          	</md-input-container>

           	<md-input-container class="md-block">
            	<label>Chofer</label>
              	<md-select ng-model="ctrl.one.id_chofer">
                	<md-option ng-repeat="chofer in ctrl.listaEmpleados | filter: { tipo_nombre: 'Chofer'} " value="{{chofer.id}}" >
                    	{{chofer.nombre}} 
                	</md-option>
              	</md-select>
          	</md-input-container>          	
       	</div>
		<!--
       	<div layout="row" flex ng-show="ctrl.tipoOperacion.es_transporte=='0' && ctrl.tipoOperacion.signo_caja!='-'">
           	<md-input-container class="md-block">
            	<label>Vendedor</label>
              	<md-select ng-model="ctrl.one.id_vendedor">
                	<md-option ng-repeat="vendedor in ctrl.listaEmpleados | filter: { tipo_nombre: 'Vendedor'}" value="{{vendedor.id}}" >
                    	{{vendedor.nombre}} 
                	</md-option>
              	</md-select>
          	</md-input-container>          	
       	</div>
       -->
	</div>

	<!-- PRODUCTOS -->
	<md-toolbar class="md-primary md-hue-1">
		<div class="md-toolbar-tools">
	        <h5>
	          <span>({{ctrl.totales.items}}) Total: {{ctrl.totales.total | currency:""}}</span>
	        </h5>
	        <span flex></span>

	        <md-button class="md-fab md-mini md-primary " aria-label="Eliminar" ng-click="ctrl.delProducto($event)" 
	        ng-show="ctrl.cntSel>0" ng-disabled="ctrl.one.id">
	          <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
	            Eliminar
	          </md-tooltip>
	          <span class ="fa fa-remove fx-fw"></span>
	        </md-button>

	        <md-button class="md-fab md-mini md-primary " aria-label="Agregar" ng-click="ctrl.openDialogProductos($event)" 
	        	ng-show="ctrl.one.id_cliente" 
	        	ng-disabled="ctrl.one.id || ctrl.tipoOperacion.es_derivado!='0'">
	          <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
	            Agregar
	          </md-tooltip>
	          <span class ="fa fa-plus fx-fw"></span>
	        </md-button>

	   	</div>
	</md-toolbar>	
	
	<div id="gridDetail" ui-grid="ctrl.gridDetail" ui-grid-edit class="grid"></div>

<md-content >
	<md-fab-speed-dial md-direction="left" class="md-scale md-fab-bottom-right md-fab " style="position:fixed !important;"  >
	      <md-fab-trigger>
	        <md-button aria-label="menu" class="md-fab md-warn">
	        	<md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
	           	<span class ="fa fa-navicon fa-fw fa-lg"></span>
	        </md-button>
	      </md-fab-trigger>

	      	<md-fab-actions>
	          <md-button aria-label="Cargar" class="md-fab md-raised md-mini" ng-click="ctrl.cargar()" ng-disabled="ctrl.one.id_status!=0">
	        	<md-tooltip md-direction="top" md-visible="tooltipVisible">Cargar</md-tooltip>
	           	<span class ="fa fa-download fa-fw fa-lg"></span>
	          </md-button>

				<!--
					ng-disabled="!formDetalle.$valid || !ctrl.full || !ctrl.cntProductos" 
					ng-show="!ctrl.one.id"
				-->
	          <md-button aria-label="Guardar" class="md-fab md-raised md-mini" ng-click="ctrl.guardar()" 
	          			ng-disabled="ctrl.seGuarda(formDetalle.$valid)==false" 
	          			>
	        	<md-tooltip md-direction="top" md-visible="tooltipVisible">Guardar</md-tooltip>
	           	<span class ="fa fa-save fa-fw fa-lg"></span>
	          </md-button>

	          <md-button aria-label="Anular" class="md-fab md-raised md-mini" ng-click="ctrl.anular($event)" ng-disabled="!formDetalle.$valid || !ctrl.full || ctrl.one.id_status==2" ng-hide="!ctrl.one.id">
	        	<md-tooltip md-direction="top" md-visible="tooltipVisible">Anular</md-tooltip>
	           	<span class ="fa fa-times fa-fw fa-lg"></span>
	          </md-button>

	          <md-button aria-label="Imprimir" class="md-fab md-raised md-mini" ng-click="ctrl.imprimir($event)" ng-disabled="!formDetalle.$valid || !ctrl.full || ctrl.one.id_status==2" ng-hide="!ctrl.one.id">
	          <md-tooltip md-direction="top" md-visible="tooltipVisible">Imprimir</md-tooltip>
	            <span class ="fa fa-print fa-fw fa-lg"></span>
	          </md-button>
				
				<!--
				 || ctrl.one.id_status==2"
					!ctrl.one.id || 
				-->
	          <md-button aria-label="Pagar" class="md-fab md-raised md-mini" ng-click="ctrl.openDialogCaja($event)" 
	          				ng-disabled="!formDetalle.$valid || !ctrl.full || !ctrl.cntProductos" 
	          				ng-hide="ctrl.tipoOperacion.signo_caja=='N'">
	          <md-tooltip md-direction="top" md-visible="tooltipVisible">Pagar</md-tooltip>
	            <span class ="fa fa-money fa-fw fa-lg"></span>
	          </md-button>	          

	   		</md-fab-actions>
	</md-fab-speed-dial>


</md-content>

</form>
