<md-dialog aria-label="Cliente" class="_md-transition-in" flex="60" flex-sm="80" flex-xs="100" >
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Costos</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content">
          <div layout="column">
          <!-- DOLAR -->
          <md-card flex="100">
              <md-subheader class="md-primary">Dolar</md-subheader>

              <md-card-content >
                <div layout="row" layout-sm="column" layout-xs="column" >
                <md-input-container class="md-block">
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_anterior" type="text" placeholder="Costo Anterior" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_dolar" type="text" placeholder="Costo Dolar" ng-change="ctrl.calcular()">
                </md-input-container>       

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_bruto" type="text" placeholder="Costo Bruto" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_neto" type="text" placeholder="Costo Neto" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_pct_utilidad" type="text" placeholder="% Utilidad" ng-change="ctrl.calcular()">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_precio_inicial" type="text" placeholder="Precio Final" disabled="true">
                </md-input-container>
              </div>
              </md-card-content>
            </md-card>
          </div>

          <div layout="column">
          <!-- FACTURA -->
          <md-card flex="100">
            <md-subheader class="md-primary">Factura</md-subheader>
              <md-card-content >
              <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_costo_anterior" type="text" placeholder="Costo Anterior" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_costo_dolar" type="text" placeholder="Costo $" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_costo_bruto" type="text" placeholder="Costo Bruto" ng-change="ctrl.calcular()">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_costo_neto" type="text" placeholder="Costo Neto" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_pct_utilidad" type="text" placeholder="% Utilidad" ng-change="ctrl.calcular()">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.factura_precio_final" type="text" placeholder="Precio Final" disabled="true">
                </md-input-container>
              </div>
              </md-card-content>
            </md-card>
          </div>

          <div layout="column">
          <!-- LISTA -->
          <md-card flex="100" >
            <md-subheader class="md-primary">Lista</md-subheader>
              <md-card-content>
              <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_costo_anterior" type="text" placeholder="Costo Anterior" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_costo_dolar" type="text" placeholder="Costo $" disabled="true">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_costo_bruto" type="text" placeholder="Costo Bruto" ng-change="ctrl.calcular()">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_costo_neto" type="text" placeholder="Costo Neto" disabled="true">
                </md-input-container>       

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_pct_utilidad" type="text" placeholder="% Utilidad" ng-change="ctrl.calcular()">
                </md-input-container>

                <md-input-container class="md-block" >
                   <input formato-numerico class="align-right"  ng-model="ctrl.one.lista_precio_final" type="text" placeholder="Precio Final" disabled="true">
                </md-input-container>
              </div>
              </md-card-content>
            </md-card>
          </div>
	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid">Seleccionar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>