<style type="text/css">
	.grid {
    height: 300px;
}
</style>
<md-dialog aria-label="Cliente" class="_md-transition-in" flex="70" flex-sm="80" flex-xs="100" >
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Formula</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content">
		    <div layout="row" layout-xs="column">
		    	<div flex>
		            <md-autocomplete flex   
		              md-selected-item="ctrl.selectedProducto" 
		              md-search-text="ctrl.searchText"
		              md-selected-item-change="ctrl.selProducto(producto)" 
		              md-items="producto in ctrl.querySearch(ctrl.searchText)"
		              md-item-text="producto.nombre" 
		              md-min-length="1" 
		              md-floating-label="Producto"
		              md-menu-class="autocomplete-custom-template">
		              
		              <md-item-template>
		                  <span class="item-title">
		                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{producto.nombre}} </span>
		                  </span>

		                  <span class="item-metadata">
		                    <span class="item-metastat" >
		                      <strong md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{producto.codigo}}</strong>
		                    </span>
		                  </span>
		              </md-item-template>

		              <md-not-found>
		                <span>No se encontraron resultados</span>
		              </md-not-found>
		            </md-autocomplete>  
		      	</div>

				<!-- UND VENTA -->		
		      	<md-input-container flex="15" flex-xs="100">
		        	<label>Unidad</label>
		          	<md-select ng-model="ctrl.id_unidad" flex-xs="100" ng-change="ctrl.selUnidad()">
			            <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
			                {{elemento.nombre}}
			            </md-option>
		          </md-select>
		      	</md-input-container>

		    	<md-input-container flex="15" flex-xs="100">
		    		<label>Cantidad</label>
				    <input formato-numerico type="text" ng-model="ctrl.cantidad">
		    	</md-input-container>	    	

				<div layout="row">
					<div>
			    	<md-button type="button" class="md-raised" ng-click="ctrl.agregar()" ng-disabled="!ctrl.selectedProducto || !ctrl.cantidad">Agregar</md-button> 
			    	</div>
			    	<div>
					<md-button type="button" class="md-raised" ng-click="ctrl.eliminar()" ng-show="ctrl.cntSel">Eliminar</md-button> 
					</div>
				</div>
				
			</div>

			<div id="gridModal" ui-grid="ctrl.gridModal" ui-grid-edit ui-grid-cellNav  class="grid"></div>

			<div layout-align="end">
				<md-input-container class="md-block" >
	               <input  aria-label="total" formato-numerico class="align-right"  ng-model="ctrl.totalCosto" type="text"  disabled="true">
	            </md-input-container>
			</div>
	    </md-dialog-content>

	    <md-dialog-actions layout="row">

			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!ctrl.cntComponentes">Seleccionar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>
