<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
<!--
<div  ng-show="!ctrl.full">
  	<md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
-->
<div layout="row" layout-sm="column" layout-xs="column">
	<div layout="column" flex="55" flex-sm="100" flex-xs="100">
		<md-card >
			<md-subheader class="md-primary">Atributos</md-subheader>
		    <md-card-content layout-padding>
		    	<div flex>
		            <md-autocomplete flex   
		              md-selected-item="ctrl.selectedProducto" 
		              md-search-text="ctrl.searchText"
		              md-selected-item-change="ctrl.selProducto(producto)" 
		              md-items="producto in ctrl.querySearch(ctrl.searchText)"
		              md-item-text="producto.nombre" 
		              md-min-length="1" 
		              md-floating-label="Producto"
		              md-menu-class="autocomplete-custom-template">
		              
		              <md-item-template>
		                  <span class="item-title">
		                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="i">{{producto.nombre}} </span>
		                  </span>

		                  <span class="item-metadata">
				            <span>
				              <strong>({{producto.codigo}})</strong>
				            </span>
				            <span>
				              <strong>{{producto.unidad_venta_nombre}}</strong> 
				            </span>
				          </span>
		              </md-item-template>

		              <md-not-found>
		                  <div ng-click="ctrl.openDialogSisProductos($event,0)" >
		                    <span class ="fa fa-plus fx-fw"></span>Agregar nuevo
		                  </div>
		              </md-not-found>
		            </md-autocomplete>  
		      	</div>
		      	
		      	<!--
				<md-input-container class="md-block">
			    	<label>Nombre</label>
			    	<input type="text" ng-model="ctrl.one.nombre" required >
			  	</md-input-container>
				
				-->
			  	<div layout="row" layout-xs="column" class="md-block" >

				   	<md-input-container flex="40" flex-xs="100" class="md-block">
				        <label>Código</label>
				        <input type="text" ng-model="ctrl.one.codigo" disabled="true">
				   	</md-input-container>

				   	<md-input-container flex="40" flex-xs="100" class="md-block">
				        <label>Und Compra</label>
				        <input type="text" ng-model="ctrl.one.unidad_compra_nombre" disabled="true">
				   	</md-input-container>

				   	<md-input-container flex="40" flex-xs="100" class="md-block">
				        <label>Und Venta</label>
				        <input type="text" ng-model="ctrl.one.unidad_venta_nombre" disabled="true">
				   	</md-input-container>	
				</div>

				<div layout="row" layout-xs="column" class="md-block" flex>
					<md-input-container class="md-block" flex>
				    	<label>Nombre Impreso</label>
				    	<input type="text" ng-model="ctrl.one.nombre_display" required >
				  	</md-input-container>
				</div>

			  	<div layout="row" layout-xs="column" class="md-block" >

					<!-- CATEGORIAS -->		
			      	<md-input-container flex="50" flex-xs="100">
			        	<label>Categoria</label>
			          	<md-select ng-model="ctrl.one.id_categoria">
				            <md-option ng-repeat="elemento in ctrl.listaCategorias" value="{{elemento.id}}" >
				                {{elemento.nombre}}
				            </md-option>
				          </md-select>
				      </md-input-container>

					<!-- TIPO -->		
			      	<md-input-container flex="50" flex-xs="100">
			        	<label>Tipo</label>
			          	<md-select ng-model="ctrl.one.id_tipo">
				            <md-option ng-repeat="elemento in ctrl.listaTipos" value="{{elemento.id}}" >
				                {{elemento.nombre}}
				            </md-option>
				       	</md-select>
				   	</md-input-container>
				</div>

				<!--
			   	<div layout="row" layout-xs="column" class="md-block">
			      	<md-input-container flex="25" flex-xs="100">
			        	<label>Sistema de Unidades</label>
			          	<md-select ng-model="ctrl.id_sistema" ng-change="ctrl.filtrarUnidades()">
				            <md-option ng-repeat="elemento in ctrl.listaSistemas" value="{{elemento.id}}" >
				                {{elemento.nombre}}
				            </md-option>
			        	</md-select>
				   	</md-input-container>

			      	<md-input-container flex="25" flex-xs="100">
			        	<label>Und Compra</label>
			          	<md-select ng-model="ctrl.one.id_unidad_compra">
				            <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
				                {{elemento.nombre}}
				            </md-option>
			        	</md-select>
				   	</md-input-container>

					<md-input-container class="md-block" flex="20" flex-xs="100">
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.cantidad_unidad_compra" type="text" placeholder="Cantidad">
					</md-input-container>

			      	<md-input-container flex="25" flex-xs="100">
			        	<label>Und Venta</label>
			          	<md-select ng-model="ctrl.one.id_unidad_venta" flex-xs="100">
				            <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
				                {{elemento.nombre}}
				            </md-option>
			          </md-select>
			      	</md-input-container>
			  	</div>
				-->

			   	<div layout="row" layout-xs="column" class="md-block">
					<md-input-container class="md-block" flex="25" flex-xs="100">
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.costo_pct_dcto" type="text" placeholder="% Descuento">
					</md-input-container>

					<md-input-container class="md-block" flex="25" flex-xs="100">
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.costo_pct_adic" type="text" placeholder="% Adicional">
					</md-input-container>

					<!-- IMPUESTO -->		
				   	<md-input-container class="md-block" flex="25" flex-xs="100">
				    	<label>IVA</label>
				      	<md-select ng-model="ctrl.one.id_impuesto">
				            <md-option ng-repeat="elemento in ctrl.listaImpuestos" value="{{elemento.id}}" >
				                {{elemento.valor}}
				            </md-option>
				      	</md-select>
				   	</md-input-container>

				   	<md-input-container class="md-block" flex="25" flex-xs="100">
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.stock_minimo" type="text" placeholder="Stock Mínimo">
					</md-input-container>

					<md-input-container  class="md-block" flex="25" flex-xs="100">
						<md-checkbox ng-model="ctrl.one.es_inactivo" aria-label="inactivo">Inactivo</md-checkbox>
					</md-input-container>
					<!--
					<md-input-container  class="md-block">
						<md-checkbox ng-model="ctrl.one.es_editable" aria-label="Editable">Editable</md-checkbox>
					</md-input-container>
					-->
				</div>



		  	</md-card-content>
		  </md-card>
	</div>

	<div layout="column" flex="45" flex-sm="100" flex-xs="100">
		<!--
		<div layout="row" layout-sm="row" layout-xs="column">
			<md-card flex="100">
				<md-subheader class="md-primary">Costos</md-subheader>
			    <md-card-content >
				<div layout="row" layout-sm="row" layout-xs="column">
					<md-input-container class="md-block" >
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_bruto" type="text" placeholder="Costo Bruto" disabled="true">
					</md-input-container>

					<md-input-container class="md-block" >
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_pct_utilidad" type="text" placeholder="% Util Factura" disabled="true">
					</md-input-container>

					<md-input-container class="md-block" >
					   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_precio_inicial" type="text" placeholder="Precio Factura" disabled="true">
					</md-input-container>

					<md-button class="md-fab md-mini md-primary " aria-label="Use" ng-click="ctrl.openDialogCostos()">
			          <span class ="fa fa-edit fx-fw"></span>
			        </md-button>
			  	</div>
			  	</md-card-content>
			</md-card>
		</div>
		-->

		<div layout="row" layout-sm="row" layout-xs="column">
			<md-card flex="100">
	          	<md-subheader class="md-primary">Costos</md-subheader>

	          	<md-card-content >
	                <div layout="row" layout-sm="column" layout-xs="column" >
	                <md-input-container class="md-block" >
	                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_dolar" type="text" placeholder="Costo" ng-change="ctrl.calcular()">
	                </md-input-container>       

	                <md-input-container class="md-block" >
	                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_costo_neto" type="text" placeholder="Costo Neto" disabled="true">
	                </md-input-container>

	                <md-input-container class="md-block" >
	                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_pct_utilidad" type="text" placeholder="% Utilidad" ng-change="ctrl.calcular()">
	                </md-input-container>

	                <md-input-container class="md-block" >
	                   <input formato-numerico class="align-right"  ng-model="ctrl.one.dolar_precio_inicial" type="text" placeholder="Precio Final" disabled="true">
	                </md-input-container>
	              </div>
	          	</md-card-content>
	       	</md-card>
	   	</div>

		<div layout="row" layout-sm="row" layout-xs="column" >
			<md-card flex="100">
			    <md-subheader class="md-primary">Opciones</md-subheader>
			    <md-card-content >
					<div layout="row">
						<md-button class="md-raised" ng-click="ctrl.openDialogAtributos()">Características</md-button>
						<md-button id="inventario-productos-btnFormulas"  class="md-raised" ng-click="ctrl.openDialogFormulas()" ng-show="ctrl.one.id_tipo=='11E7AC1AEC9B3C87A15E00270E383B06' && ctrl.btnFormulas">Formula</md-button>
						<md-button class="md-raised" ng-show="ctrl.one.id_tipo=='11E7AC1AFED8C1D6A15E00270E383B06'">Componentes</md-button>												
					</div>
					
			  	</md-card-content>
			  </md-card>
		</div>		

		<div layout="row" layout-sm="row" layout-xs="column" >
			<md-card flex="100">
			    <md-subheader class="md-primary">Existencia</md-subheader>
			    <md-card-content >
			    	<md-list class="md-dense" flex>
						<md-list-item  ng-repeat="item in ctrl.listaExistencia" ng-click="null">
				          <div class="md-list-item-text" layout="column">
				            <span>{{ item.nombre }} ({{ item.cantidad }})</span>
				            <span class="md-secondary" ng-model="item.cantidad "></span>
				          </div>
				        </md-list-item>
					</md-list>
			  	</md-card-content>
			  </md-card>
		</div>
	</div>
</div>
<md-content >
  <md-button class="md-fab md-accent md-fab-bottom-right" aria-label="New" style="position:fixed !important;" ng-click="ctrl.guardar()" ng-disabled="!formDetalle.$valid || !ctrl.full">
    <md-tooltip md-direction="top">Guardar</md-tooltip>
    <span class ="fa fa-save fx-fw" style="font-size: 20px;"></span>
  </md-button>
</md-content>

</form>
