<style type="text/css">
	.grid {
    height: 300px;
}
</style>
<md-dialog aria-label="Cliente" class="_md-transition-in" flex="60" flex-sm="80" flex-xs="100" >
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Características</span>
	      </div>
	    </md-toolbar>
		<!-- ui-grid-edit ui-grid-cellNav -->
	    

	    <md-dialog-content class="md-dialog-content">
		    <div layout="row" layout-xs="column">
		    	<md-input-container class="md-block">
		    		<label>Nombre</label>
				    <input type="text" ng-model="ctrl.nombre">
		    	</md-input-container>
		    	<md-input-container class="md-block">
		    		<label>Valor</label>
				    <input type="text" ng-model="ctrl.valor">
		    	</md-input-container>	    	
				<div>
		    	<md-button type="button" class="md-raised" ng-click="ctrl.agregar()" ng-disabled="!ctrl.nombre || !ctrl.valor">Agregar</md-button> 
				<md-button type="button" class="md-raised" ng-click="ctrl.eliminar()" ng-show="ctrl.cntSel">Eliminar</md-button> 
				</div>
		    </div>

			<div id="gridModal" ui-grid="ctrl.gridModal" ui-grid-edit ui-grid-cellNav  class="grid"></div>
	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid">Seleccionar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>
