<div  ng-show="!ctrl.full">
  	<md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div layout="row" layout-xs="column">
	<!-- CATEGORIAS -->		
	<md-input-container flex="50" flex-xs="100">
		<label>Categoria</label>
	  	<md-select ng-model="ctrl.id_categoria" ng-change="ctrl.getList()" >
	        <md-option ng-repeat="elemento in ctrl.listaCategorias" value="{{elemento.id}}" ng-selected="$first">
	            {{elemento.nombre}}
	        </md-option>
	   	</md-select>
  	</md-input-container>

  	<md-input-container class="md-block">
    	<input type="text"  ng-change="ctrl.filtrar()"  id="txt_filtro" placeholder="Filtro de Busqueda" ng-model="ctrl.filtro">
  	</md-input-container>
</div>

<div id="gridLista" ui-grid="ctrl.gridOptions" ui-grid-selection ui-grid-expandable  class="grid"></div>

<md-content >
  <md-button class="md-fab md-accent md-fab-bottom-right" aria-label="New" style="position:fixed !important;" ng-click="ctrl.agregar()">
    <md-tooltip md-direction="top">Agregar</md-tooltip>
    <span class ="fa fa-plus fx-fw" style="font-size: 20px;"></span>
  </md-button>
</md-content>