<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Instrumento de Pago</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="row">
	    	
        <div layout="column" flex="100">
          <!--
          <md-input-container class="md-block">
            <label>Instrumento</label>
              <md-select ng-model="ctrl.one.id_instrumento">
                <md-option ng-repeat="item in ctrl.listaInstrumentos" value="{{item.id}}" >
                    {{item.nombre}}
                </md-option>
              </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Cuenta Bancaria</label>
              <md-select ng-model="ctrl.one.id_cuenta">
                <md-option ng-repeat="elemento in ctrl.listaCuentas" value="{{elemento.id}}" >
                    {{elemento.banco_nombre}} ( {{elemento.numero}} )
                </md-option>
              </md-select>
          </md-input-container>
          -->

          <md-input-container class="md-block" >
            <label>Nombre</label>
            <input type="text" ng-model="ctrl.one.nombre" required >
          </md-input-container>

          <md-checkbox ng-model="ctrl.one.es_inactivo" aria-label="inactivo">Inactivo</md-checkbox>

          <md-radio-group ng-model="ctrl.one.id_tipo">

            <md-radio-button value="1" class="md-primary">Efectivo</md-radio-button>
            <md-radio-button value="2"> Cheque </md-radio-button>
            <md-radio-button value="3"> Depósito </md-radio-button>
            <md-radio-button value="4"> Punto venta </md-radio-button>
            <md-radio-button value="5"> Saldo en Crédito </md-radio-button>

          </md-radio-group>

        </div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>