<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Cotización del dolar</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout="column">

          <md-input-container class="md-block">
            <label>Fecha</label>                  
            <md-datepicker ng-model="ctrl.one.fecha" ng-change="ctrl.miFecha()"></md-datepicker>
          </md-input-container>


          <md-input-container class="md-block" >
            <label>Valor</label>
            <input type="text" ng-model="ctrl.one.valor"  >
          </md-input-container>


	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>