<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Producto</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="column">
	    	
        <div layout="row" layout-xs="column" class="md-block" flex>
          <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input type="text" ng-model="ctrl.one.nombre" required >
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="md-block" flex>
          <md-input-container flex="40" flex-xs="100" class="md-block">
              <label>Código</label>
              <input type="text" ng-model="ctrl.one.codigo" required >
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="md-block" flex>
          <!-- UND COMPRA -->   
          <md-input-container flex="25" flex-xs="100">
            <label>Sistema de Unidades</label>
              <md-select ng-model="ctrl.id_sistema" ng-change="ctrl.filtrarUnidades()">
                <md-option ng-repeat="elemento in ctrl.listaSistemas" value="{{elemento.id}}" >
                    {{elemento.nombre}}
                </md-option>
            </md-select>
          </md-input-container>

          <!-- UND COMPRA -->   
          <md-input-container flex="25" flex-xs="100">
            <label>Und Compra</label>
              <md-select ng-model="ctrl.one.id_unidad_compra">
                <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
                    {{elemento.nombre}}
                </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex="20" flex-xs="100">
             <input formato-numerico class="align-right"  ng-model="ctrl.one.cantidad_unidad_compra" type="text" placeholder="Cantidad">
          </md-input-container>

          <!-- UND VENTA -->    
          <md-input-container flex="25" flex-xs="100">
            <label>Und Venta</label>
              <md-select ng-model="ctrl.one.id_unidad_venta" flex-xs="100">
                <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
                    {{elemento.nombre}}
                </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="md-block" flex>
          <md-input-container class="md-block">
              <label>Empresas</label>
                <md-select ng-model="ctrl.empresasSeleccionadas" multiple>
                  <md-option ng-repeat="elemento in ctrl.listaEmpresas" value="{{elemento.id}}" >
                      {{elemento.nombre}}
                  </md-option>
                </md-select>
          </md-input-container>

        </div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
      <md-button id="sistema-productos-btnEliminar"  
                  class="md-raised md-warn" 
                  ng-click="ctrl.eliminar(ev)" 
                  ng-show="ctrl.btnEliminar"
                  ">Eliminar</md-button>
      <md-button class="md-raised" ng-show="ctrl.one.id_tipo=='11E7AC1AFED8C1D6A15E00270E383B06'">Componentes</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>