<style type="text/css">
	.grid {
    height: 300px;
}
</style>
<md-dialog aria-label="Cliente" class="_md-transition-in" flex="60" flex-sm="80" flex-xs="100" >
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Características</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content">
	    	<div layout="row" layout-xs="column">
			  	<md-input-container class="md-block">
			      <input type="text"  ng-change="ctrl.filtrar()"  id="txt_filtro" placeholder="Filtro de Busqueda" ng-model="ctrl.filtro">
			  	</md-input-container>

				<!-- TIPO -->		
				<md-input-container flex-xs="100">
					<label>Tipo</label>
					<md-select ng-model="ctrl.id_tipo" ng-change="ctrl.getList()">
				    <md-option ng-repeat="elemento in ctrl.listaOperaciones" value="{{elemento.id}}" >
				        {{elemento.nombre}}
				    </md-option>
					</md-select>
				</md-input-container>
			</div>

			<div id="gridModal" ui-grid="ctrl.gridModal" ui-grid-selection  class="grid"></div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">

			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!ctrl.rowSel">Seleccionar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>