<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
  <form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span flex="100">Almacen</span>
        </div>
      </md-toolbar>

      <md-dialog-content class="md-dialog-content md-padding" layout-xs="column" layout="row">
        
        <div layout="column" flex="100">
          <md-input-container class="md-block" >
            <label>Nombre</label>
            <input type="text" ng-model="ctrl.one.nombre" required >
          </md-input-container>

          <md-input-container class="md-block" >
            <label>Descripción</label>
            <input type="text" ng-model="ctrl.one.descrip" required >
          </md-input-container>

          <md-checkbox ng-model="ctrl.one.es_default" aria-label="fiscal">Almacen por defecto</md-checkbox>

        </div>

      </md-dialog-content>

      <md-dialog-actions layout="row">
      <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
      <md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
      </md-dialog-actions>
  </form>
</md-dialog>