<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Vehículo</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" layout="column">
	    	
        <div layout="row" flex="100">

          <md-input-container class="md-block" >
            <label>Vehículo</label>
            <input type="text" ng-model="ctrl.one.vehiculo" required >
          </md-input-container>

          <md-input-container class="md-block" >
            <label>Marca</label>
            <input type="text" ng-model="ctrl.one.marca" required >
          </md-input-container>

          <md-input-container class="md-block" >
            <label>Color</label>
            <input type="text" ng-model="ctrl.one.color" required >
          </md-input-container>

        </div>


        <div layout="row" flex="100">

          <md-input-container class="md-block" >
            <label>Modelo</label>
            <input type="text" ng-model="ctrl.one.modelo" >
          </md-input-container>          

          <md-input-container class="md-block" >
            <label>Placa</label>
            <input type="text" ng-model="ctrl.one.placa" required >
          </md-input-container>

          <md-input-container class="md-block" >
            <label>RACDA</label>
            <input type="text" ng-model="ctrl.one.racda" >
          </md-input-container>          

        </div>

	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>